@media only screen and (max-width: 600px) {
    /* TODO: remove; this is temporary */
    main.browse {
        flex-direction: column;
        height: 100%;
    }
    
    #filters {
        width: 100%;
        height: 28.5rem; /* 14 lines + padding = 28.5rem */
        
        position: sticky;
        top: 0;
        z-index: 1;
        
        transition-property: height;
        
        border-bottom: 1px solid black; /* TODO: remove; this is temporary */
    }
    
    #filters.hidden {
        width: 100%;
        min-width: 100%;
        
        height: 0;
    }
    
    #filters fieldset div {
        --label-size: 6rem;
        --input-size: 1fr;
    }
    
    /* The button container */
    #filters form > div {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #hide {
        position: sticky;
        left: 0;
        top: 29.5rem;
        z-index: 2;
        
        margin-top: calc(var(--container-padding) * -1);
        
        transition: .5s all ease;
    }
    
    .open #hide {
        top: var(--container-padding);
    }
    
    #hide::after {
        content: "-";
    }

    .open #hide::after {
        content: "+";
    }
    
    #results-panel {
        overflow-y: visible;
    }
    
    #results li {
        min-width: 0;
    }
}