#card {
    display: grid;
    grid-template-columns: 185px 1fr;
}

#info {
    grid-column: 2;
    grid-row: 1 / span 2;
}

small > span {
    margin: 0 .1rem;
}

small > span:first-child, #genres {
    margin-right: 2rem;
}

small > span:last-child::before {
    margin-right: .6rem;
    content: "|";
}

#genres span {
    border: 1px solid;
    border-radius: 10px;
    padding: 0 .375rem;
    margin: 0 2px;
}

#links {
    display: flex;
    flex-direction: column;
}

main > div:not(#card) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content 1fr;
    
    align-items: flex-start;
}

#score, #details, #keywords  {
    grid-column: 1;
    
    margin-bottom: 1rem;
}

#keywords {
    flex-grow: 1;
    height: 100%;
}

#keywords div {
    display: flex;
    flex-wrap: wrap;
}

#keywords div span {
    border: 1px solid;
    border-radius: 10px;
    padding: 0 .375rem;
    margin: 2px;
    
    white-space: nowrap;
}

#production {
    grid-column: 2;
    grid-row: 1 / span 3;
}